annotated-types
anyio
click
colorama
dnspython
email-validator
fastapi
greenlet
h11
idna
Jinja2
MarkupSafe
psycopg2-binary
pydantic
pydantic_core
python-dotenv
python-multipart
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn